# Android Studio
build/
.gradle/
.idea/
local.properties
.DS_Store
*.iml

# Eclipse For Android
gen/
bin/
proguard/
.settings/
.metadata/
.classpath
.project
project.properties

# Common Folders And Files
captures/
release/
debug/
out/
classes/
target/
*.ap_
*.dex
*.class
*.ipr
*.iws